*/

/* General styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nato Sans', sans-serif;
}

body {
  background-color: #0099ff;
  overflow-x: hidden;
  width: 100%;
  height: 100vh; /* Add this */
  font-family: 'Nano sans' ;
}


.main-wrapper {
  width: 100%;
  overflow-x: hidden;
  background: radial-gradient(circle at center, #97999a, #2c3e50);
}
.aligned-text {
  text-align: center;
}

/* Header styles */
html, body {
  margin: 0;
  padding: 0;
  
}



header {
  position: fixed;
  background: radial-gradient(circle at center, #8e9eab,#eef2f3); 
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 999;
  transition: transform 0.3s ease-in-out;
}

header.hidden {
  transform: translateY(-100%);
}

.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav-1{
  text-align:center;
  
}
nav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  text-align:center;
}

.nav-item {
  display: block;
  margin-left: 10rem;
  padding: 1rem 1rem;
  color: #212529;
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
  width:100px;
}

nav .nav-item:hover {
  border: 2px solid #212529;
  color: #212529;
  border-radius: 5px;
  padding: calc(0.5rem - 2px) calc(1rem - 2px);
}

nav .nav-item.premium {

  border-radius: 0.25rem;
  color: #ffffff;
}

nav .nav-item.premium:hover {
  border: 2px solid #ffd700;
  padding: calc(0.5rem - 2px) calc(1rem - 2px);
}


/* Main content styles */
.content {
  padding-top: 3%;
  padding-left:3%;
  align:left;
  text-align:left;
  max-width: 7%;
  height: 400px;
  width:85px;
  margin: 0px;
  
}

.left-content {
  
  width: 900%;
  height: 110%;
  padding: 0px;
  margin: 0px;
 
}
.left-content-wrapper {
  width: 100%;
  height: 100%;
  background-color: #cfcfcf;
  border-radius: 30px; /* adjust the value to change the amount of rounding */
  margin-right: 400px;
}
.right-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sphere-container {

  width: 100%;
  height: 100%;

}


.start-learning-box {
  text-align: center;
  border-radius: 1rem;
}

.start-learning {
  background-color: #007bff;
  border-radius: 1rem;
  color: #ffffff;
  padding: 1rem 4rem;
  font-size: 1.5rem;
  text-decoration: none;
}

.start-learning:hover {
  background-color: #0056b3;
}

.social-media-container {
  display: flex;
  justify-content: center;
  height: 40px;
  margin-bottom: 75px;
  }
  
  .form-container:hover .social-media-container a img {
  width: 70%;
  height: auto;
  box-shadow: none;
  transition: all 0.3s ease;

  }
.social-media-container a {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 30px;
  border-radius: 10px;
  margin-right: 10px;
  overflow: hidden;
  border: 2px solid transparent; 
  transition: all 0.3s ease;
  vertical-align: middle;
  }
  
  .social-media-container a:hover {
  text-decoration: underline;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);

  }
  
  .social-media-container a::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background-color: #ffffff;
  opacity: 0;
  transition: all 0.3s ease;
  transform: scale(0.5);
  }
  .social-media-container a:hover::before {
  opacity: 0.3;
  transform: scale(1);
  transition: all 0.3s ease, opacity 0.3s ease;
  }
  
  .social-media-container a img {
  width: 70%;
  height: auto;
  box-shadow: none;
  transition: all 0.3s ease;
  transform: translateY(0px);
  vertical-align: middle;
  }
  
  .social-media-container a:hover img {
  transform: translateY(3px);
  box-shadow: none;
 
  }
  
  .social-media-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  }

  .social-media-container {
  display: flex;
  justify-content: center;
  height: 40px;
  }
  
  .form-container:hover .social-media-container a img {
  width: 70%;
  height: auto;
  box-shadow: none;
  transition: all 0.3s ease;
  transform: translateY(0px);
  }

.left-content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}





/* Explore section styles */
.explore-section {
  padding: 2rem;
}

.explore-boxes {
  display: flex;
  justify-content: space-around;
}

.explore-box {

  padding: 1rem;
  width: 30%;
  text-align: center;
  background-color: #cfcfcf;
  border-radius: 25px; /* adjust the value to change the amount of rounding */
  margin-left:12px;
}

.explore-box:hover {
  box-shadow: 4px 10px 12px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.3s ease;
}




 
  /* Reviews section styles */
 
  

  .reviews-section {
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 20px;
    padding: 2rem;
  }
  
  .reviews-container {
    display: inline-flex; /* Change this */
    white-space: nowrap;
    gap: 20px;
    width: 100%;
  }
  
  .review-box {

    border-radius: 5px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 13px;
    display: inline-block;
    background-color: #cfcfcf;
    border-radius: 30px; /* adjust the value to change the amount of rounding */
  }

  .reviewer h6 {
    margin-bottom: 10px;
  }

  .stars {
    font-size: 24px;
    color: #FFD700;
    margin-bottom: 10px;
  }

  .reviews-wrapper {
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
  }
  .review-box:hover {
    box-shadow: 4px 10px 12px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.3s ease;
  }
  /* Footer styles */
footer {
  background-color: #f8f9fa;
  padding: 1rem 0;
}

.footer-wrapper {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.footer-link {
  color: #212529;
  text-decoration: none;
  margin: 0 1rem;
}

.footer-link:hover {
  color: #007bff;
}
