* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nano Sans', sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #e1e1e1;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
  background-color: #e1e1e1;
  border: 2px solid #000000;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.3s ease-in-out;
}

.wrapper:hover {
  box-shadow: 0 0 30px 10px rgba(0, 0, 0, 0.5), 0 0 40px 15px rgba(0, 0, 0, 0.2);
}

.static-txt {
  color: #000000;
  font-size: 40px;
  font-weight: 500;
  margin-bottom: 20px;
}

.dynamic-txt-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-bottom: 10px;
  max-width: 800px;
  overflow: hidden;
}

.dynamic-txt {
  position: relative;
  color: #000000;
  font-size: 30px;
  font-weight: 400;
  animation: slide 2s forwards, typing 25s steps(100, end) forwards 2.5s;
  display: inline-block;
  text-shadow: none;
  overflow-wrap: break-word;
  white-space: nowrap;
  max-width: calc(100% - 50px);
}


.dynamic-txt span {
  display: inline-block;
}

.blinking-cursor {
  position: absolute;
  top: 5px;
  height: 30px;
  color: #000000;
  font-size: 30px;
  font-weight: 400;
  border-right: 7px solid #000000;
  animation: blink 0.5s steps(1) infinite alternate;
  white-space: pre-wrap;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
    min-width: 100%;
    white-space: normal;
    overflow-wrap: anywhere;
  }
}